KurssiKone/courseMachine/courseMachineUi/Service References/cloudUser/user1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://coursecloudmachine.azurewebsites.net/user/user.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/courseBackGround" />
  <xs:element name="checkEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkEmailResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="userRegister">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/courseBackGround" minOccurs="0" name="use" nillable="true" type="q1:register" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="userRegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userRegisterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="userLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/courseBackGround" minOccurs="0" name="use" nillable="true" type="q2:login" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="userLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userLoginResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>