KurssiKone/courseMachine/courseMachineUi/Service References/courseReference/course1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50212/course/course.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
  <xs:import schemaLocation="http://localhost:50212/course/course.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/courseBackGround.course" />
  <xs:import schemaLocation="http://localhost:50212/course/course.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="checkCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="course" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkCourseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCourseResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="imgToByte">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Drawing" minOccurs="0" name="img" nillable="true" type="q1:Image" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="imgToByteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="imgToByteResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createCourseString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createCourseStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createCourseStringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/courseBackGround.course" minOccurs="0" name="use" nillable="true" type="q2:create" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createCourseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createCourseResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="courseInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="course" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="courseInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/courseBackGround.course" minOccurs="0" name="courseInfoResult" nillable="true" type="q3:courseClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="fetchCourses">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fetch" type="xs:int" />
        <xs:element minOccurs="0" name="jump" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="fetchCoursesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/courseBackGround.course" minOccurs="0" name="fetchCoursesResult" nillable="true" type="q4:ArrayOfcourseClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/courseBackGround.course" minOccurs="0" name="course" nillable="true" type="q5:courseUpdate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateStringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q6:guid" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/courseBackGround.course" minOccurs="0" name="course" nillable="true" type="q7:courseUpdate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="courseId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteStringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/courseBackGround.course" minOccurs="0" name="use" nillable="true" type="q8:courseDelete" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>