KurssiKone/courseMachine/courseMachineUi/Service References/cloudParent/parent.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/courseBackGround.parent" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/courseBackGround.parent" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://coursecloudmachine.azurewebsites.net/parent/parent.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/courseBackGround.child" />
  <xs:import schemaLocation="http://coursecloudmachine.azurewebsites.net/parent/parent.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfparentClass">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="parentClass" nillable="true" type="tns:parentClass" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfparentClass" nillable="true" type="tns:ArrayOfparentClass" />
  <xs:complexType name="parentClass">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/courseBackGround.child" minOccurs="0" name="child" nillable="true" type="q1:ArrayOfchildClass" />
      <xs:element minOccurs="0" name="courseId" type="ser:guid" />
      <xs:element minOccurs="0" name="creator" type="ser:guid" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="parentId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="parentClass" nillable="true" type="tns:parentClass" />
  <xs:complexType name="parentCreate">
    <xs:sequence>
      <xs:element minOccurs="0" name="courseId" type="ser:guid" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="user" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="parentCreate" nillable="true" type="tns:parentCreate" />
  <xs:complexType name="parentUpdate">
    <xs:sequence>
      <xs:element minOccurs="0" name="courseId" type="ser:guid" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="parentId" type="ser:guid" />
      <xs:element minOccurs="0" name="user" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="parentUpdate" nillable="true" type="tns:parentUpdate" />
  <xs:complexType name="parentDelete">
    <xs:sequence>
      <xs:element minOccurs="0" name="parentId" type="ser:guid" />
      <xs:element minOccurs="0" name="user" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="parentDelete" nillable="true" type="tns:parentDelete" />
  <xs:complexType name="parentDeleteAll">
    <xs:sequence>
      <xs:element minOccurs="0" name="courseId" type="ser:guid" />
      <xs:element minOccurs="0" name="user" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="parentDeleteAll" nillable="true" type="tns:parentDeleteAll" />
</xs:schema>