KurssiKone/courseMachine/courseBackGround/Service References/parameterReference/parameter.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50212/parameter/parameter.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/courseBackGround.parameter" />
  <xs:import schemaLocation="http://localhost:50212/parameter/parameter.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="readString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="childId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="readStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/courseBackGround.parameter" minOccurs="0" name="readStringResult" nillable="true" type="q1:ArrayOfparameterClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="read">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="childId" type="q2:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="readResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/courseBackGround.parameter" minOccurs="0" name="readResult" nillable="true" type="q3:ArrayOfparameterClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="childId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="creator" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createStringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="create">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/courseBackGround.parameter" minOccurs="0" name="use" nillable="true" type="q4:parametercreate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="childId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parameterId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="creator" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="order" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateStringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/courseBackGround.parameter" minOccurs="0" name="use" nillable="true" type="q5:ArrayOfparameterClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="creator" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parameterId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteStringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/courseBackGround.parameter" minOccurs="0" name="use" nillable="true" type="q6:parameterDelete" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteAllString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="creator" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="childId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteAllStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteAllStringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/courseBackGround.parameter" minOccurs="0" name="use" nillable="true" type="q7:parameterDeleteAll" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteAllResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>