KurssiKone/courseMachine/courseMachine/Service References/userReference/user.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/courseBackGround" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/courseBackGround" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="register">
    <xs:sequence>
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="register" nillable="true" type="tns:register" />
  <xs:complexType name="login">
    <xs:sequence>
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="login" nillable="true" type="tns:login" />
</xs:schema>