KurssiKone/courseMachine/courseMachine/Service References/userReference/user.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="user" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50212/user/user.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50212/user/user.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50212/user/user.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/courseBackGround" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Iuser_checkEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:checkEmail" />
  </wsdl:message>
  <wsdl:message name="Iuser_checkEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:checkEmailResponse" />
  </wsdl:message>
  <wsdl:message name="Iuser_userRegister_InputMessage">
    <wsdl:part name="parameters" element="tns:userRegister" />
  </wsdl:message>
  <wsdl:message name="Iuser_userRegister_OutputMessage">
    <wsdl:part name="parameters" element="tns:userRegisterResponse" />
  </wsdl:message>
  <wsdl:message name="Iuser_userLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:userLogin" />
  </wsdl:message>
  <wsdl:message name="Iuser_userLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:userLoginResponse" />
  </wsdl:message>
  <wsdl:portType name="Iuser">
    <wsdl:operation name="checkEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/Iuser/checkEmail" message="tns:Iuser_checkEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iuser/checkEmailResponse" message="tns:Iuser_checkEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="userRegister">
      <wsdl:input wsaw:Action="http://tempuri.org/Iuser/userRegister" message="tns:Iuser_userRegister_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iuser/userRegisterResponse" message="tns:Iuser_userRegister_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="userLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/Iuser/userLogin" message="tns:Iuser_userLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iuser/userLoginResponse" message="tns:Iuser_userLogin_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_Iuser" type="tns:Iuser">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="checkEmail">
      <soap:operation soapAction="http://tempuri.org/Iuser/checkEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="userRegister">
      <soap:operation soapAction="http://tempuri.org/Iuser/userRegister" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="userLogin">
      <soap:operation soapAction="http://tempuri.org/Iuser/userLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="user">
    <wsdl:port name="BasicHttpBinding_Iuser" binding="tns:BasicHttpBinding_Iuser">
      <soap:address location="http://localhost:50212/user/user.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>