KurssiKone/courseMachine/courseMachineUi/Service References/permissionReference/permission1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50212/permission/permission.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/courseBackGround.permission" />
  <xs:import schemaLocation="http://localhost:50212/permission/permission.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="getPermissionString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="courseId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPermissionStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/courseBackGround.permission" minOccurs="0" name="getPermissionStringResult" nillable="true" type="q1:permissionClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPermission">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="courseId" type="q2:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPermissionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/courseBackGround.permission" minOccurs="0" name="getPermissionResult" nillable="true" type="q3:permissionClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createPermissionString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="courseId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="creator" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/courseBackGround.permission" minOccurs="0" name="permissions" nillable="true" type="q4:ArrayOfpermissionType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createPermissionStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createPermissionStringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createPermission">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="courseId" type="q5:guid" />
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="creator" type="q6:guid" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/courseBackGround.permission" minOccurs="0" name="permissions" nillable="true" type="q7:ArrayOfpermissionType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createPermissionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createPermissionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletePermissionString">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deletePermissionStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deletePermissionStringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletePermission">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deletePermissionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deletePermissionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setUserPermissionString">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="setUserPermissionStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setUserPermissionStringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setUserPermission">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="setUserPermissionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setUserPermissionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteUserPermissionString">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteUserPermissionStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteUserPermissionStringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteUserPermission">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteUserPermissionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteUserPermissionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>